body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 100%;
  position: relative;
  font-weight: bold;
  color: #00b5a0;
}
.btn:disabled {
  cursor: not-allowed;
  color: #ddd;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav{
  background: #ccc ;
  color: #fff;
  display: table;
  width: 100%;
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  float: left;
}
.nav div{
  float: right;
  padding: 15px;
}
.nav-img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 0px 25px -20px 11px;
}
.logout-btn{
    padding: 10px;
    border: 1px solid rgba(0,0,0,.29);
    cursor: pointer;
    background: #fff;
    font-weight: bold;
    color: #00b5a0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.tweet {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.tweet-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

/* Hacky but less typing in the video */
.tweet-info > div > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}
.tweet-info > div > span:nth-child(2) {
  color: #969696;
  font-size: 16px;
}
.tweet-info > div > div {
  color: #969696;
  font-size: 15px;
}
.tweet-info > div > p {
  font-size: 18px;
  margin: 10px 0;
}
.tweet-icons {
  display: flex;
  align-items: center;
}
.tweet-icons > span {
  color: #969696;
  margin: 0 15px 0 5px;
  font-size: 18px !important;
}
.tweet-icon {
  font-size: 27px;
  color: #697784;
}
.tweet-icon:hover {
  color: #00b5d6;
  cursor: pointer;
}
.replying-to {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: #969696;
  cursor: pointer;
}

.heart-button {
  background: transparent;
  border: none;
}

.new-tweet {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.tweet-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}



.container {
  padding: 20px;
  width: 450px;
  margin: auto;
  border: solid rgb(212, 205, 205) 1px;
  border-radius: 4px;
  margin-top: 40px;
  box-shadow: 0 0 2px rgb(207, 203, 203);
  height: 350px;
  text-align: center;
  display: table;
}

.text {
  color: #00b5a0;
  font-size: 1.2rem;
  margin: 20px 0;
}

.input {
  width: 100%;
  height: 40px;
}













.user-card {
  display: flex;
  max-width: 400px;
  margin: auto;
  border: solid rgb(212, 205, 205) 1px;
  border-radius: 4px;
  margin-top: 30px;
  padding: 10px;
  box-shadow: 0 0 2px rgb(207, 203, 203);
  height: 120px;
}
.user-img {
  height: 100%;
  width: 25%;
}

.user-img img {
  height: auto;
  width: 80%;
  margin: auto;
  margin-top: 15px;
  border-radius: 50px;
}

.user-info {
  height: 100%;
  width: 55%;
  margin: 0;
  padding: 0;
  border-left: solid rgb(212, 205, 205) 1px;
  border-right: solid rgb(212, 205, 205) 1px;
}
.user-info hr {
  width: 80%;
  opacity: 0.3;  
}
.user-info h3, .user-info p{
  margin: 12px 0px;
}

.user-score {
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
  border: 1px solid #9a9a9a;
  width: 25%;
}
.user-score p{
  font-weight: bold;
  padding: 10px;
  margin: 0px;
  margin-bottom: 0px;
  background-color: #ccc;
}
.user-score .user-total-points{
  font-size: 22px;
  font-weight: bold;
  background-color: #00b5d6;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 15px auto;
}













.question-card {
  max-width: 400px;
  margin: auto;
  border: solid rgb(212, 205, 205) 1px;
  border-radius: 4px;
  margin-top: 30px;
  padding: 10px;
  box-shadow: 0 0 2px rgb(207, 203, 203);
  height: 180px;
}
.card-details .user-img{
  float: left;
  border-right: 1px solid #a0a0a0;
  margin-top: 10px;
  padding-right: 15px;
}
.question-details{
  float: left;
  width: 70%;
}

.card-header {
  margin: auto;
  font-style: oblique;
  color: #00b5d6;
  width: 380px;
  margin: 0px;
  display: table;
  background: #ccc;
  padding: 10px;
}
.card-header h3{
  margin: 0px;
}
.card-details{
  height: 120px;
}

.selected {
  color:#00b5d6;
  height: 100%;
  width: 50%;
  border: none;
}

.tab {
  float: left;
  width: 200px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}
.react-tabs__tab-list{
  display: table;
  border: 0px !important;
}

.react-tabs__tab--selected{
  border: 1px solid #000;
  border-bottom: 0px;
}

.poll {
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 80%;
  position: relative;
  font-weight: bold;
  color: #00b5a0;
}

.text-red{
  color: red;
}

.table-div{
  display: table;
}
.report-details{
  height: 425px;
}
.custom-style-report{
  padding: 0px 10px;
  width: 65%;
}
.reportOption{
  padding: 5px;
  border: 1px solid moccasin;
  margin-bottom: 20px;
  background: moccasin;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  border-radius: 20px;
}
.my-answer {
  border: 1px solid rgba(167, 16, 16, 0.274);
}

.progress-bar {
  background-color: #aaa;
  border-radius: 13px;
  padding: 3px;
}

.inner-bar {
  background-color: orange;
  width: 0%;
  height: 20px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}
.report-user-img{
  height: 425px;
}
.report-user-img img{
  width: 100%;
}
.my-vote{
  position: relative;
    bottom: 155px;
    left: 110px;
    background: lightsalmon;
    border-radius: 10px;
    padding: 5px;
}